@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: linear-gradient(to right, #24252a, maroon);
    color: #fff;
}

header img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

header h2 {
    flex: 1;
    text-align: center;
    margin: 0;
}

header .cta button {
    padding: 0px 25px;
    background-color: rgb(173, 127, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

header .cta button:hover {
    background-color: #24252a;
}

main {
    width: 100%;
    padding: 20px 10%;
    background-color: #f0f0f0;
}

.historia {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

.historia .title h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: black;
}

.historia .texto p {
    font-size: 25px;
    text-align: left;
    color: black;
}

.historia .fotos {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.historia .fotos img {
    max-width: 48%;
    height: auto;
    display: block; 
    margin: auto; 
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: linear-gradient(to right, #24252a, maroon);
}

footer .nav_links {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .nav_links li {
    display: inline-block;
    padding: 0 20px;
}

footer .nav_links li a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

footer .nav_links li a:hover {
    color: maroon;
}

li,
a,
button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

button {
    padding: 0px 25px;
    background-color: rgb(173, 127, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #24252a;
}
