<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link rel="stylesheet" href="../css/GalleryStyle.css">
    <link rel="icon" type="image/png" href="../img/cam-png.png">
</head>
<body>
    <header>
        <a href="../index.html"><img src="../img/cam-png.png" style="width: 100px; height: 100px;" alt="logo"></a>
        <h2>Bienvenido a nuestra pagina escolar. <br>
            Colegio Alma Mater</h2>
        <a href="#" class="cta"><button>Contacto</button></a>
    </header><body>
        <div class="content">
            <div class="slider-box">
                <h2>Galeria</h2>
                <br>
                <ul>
                    <li>
                        <img src="../img/galeria-11.jpg" alt="">
                    </li>
                    <li>
                        <img src="../img/galeria-1.jpg" alt="">
                    </li>
                    <li>
                        <img src="../img/galeria-18.jpg" alt="">
                        
                    </li>
                    <li>
                        <img src="../img/galeria-3.jpg" alt="">
                    </li>
                    <li>
                        <img src="../img/galeria-6.jpg" alt="">
                    </li>
                </ul>
            </div>
        </div>
    <footer>
        <nav>
            <ul class="nav_links">
                <li><a href="../templates/historia.html">historia</a></li>
                <li><a href="../templates/instalaciones.html">infraestructura</a></li>
                <li><a href="../templates/postulaciones.html">postulaciones</a></li>
                <li><a href="../templates/Galeria.html">galeria</a></li>
                <li><a href="../templates/localizacion.html">ubicacion</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>