<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia</title>
    <link rel="stylesheet" href="../css/StorySt.css">
    <link rel="icon" type="image/png" href="../img/cam-png.png">
</head>

<body>
    <header>
        <a href="../index.html"><img src="../img/cam-png.png" alt="logo"></a>
        <h2>Bienvenido a nuestra pagina escolar. <br>
            Colegio Alma Mater</h2>
        <a href="#" class="cta"><button>Contacto</button></a>
    </header>
    <main>
        <section class="historia">
            <div class="title">
                <h2>Historia</h2>
                <div class="texto">
                    <p>En el año 2006, la Sociedad Educacional Edutec Ltda. comienza a
                        administrar su tercer establecimiento el antes llamado Colegio Los Pensamientos. <br>
                        En el año 2007 comienza a recibir alumnos con su nueva Administración y pasa a llamarse Colegio ALMA MATER.<br>
                        Este año la matrícula es 670 alumnos y alumnas con un cuerpo de 30 profesores y
                        profesoras, contando además, con 2 docentes directivas y 1 docente técnico.</p>
                </div>
                <div class="fotos">
                    <img src="../img/rams-img-33.jpg" alt="foto1">
                    <img src="../img/rams-img-36.jpg" alt="foto2">
                </div>
            </div>
        </section>
    </main>

    <footer>
        <nav>
            <ul class="nav_links">
                <li><a href="../templates/historia.html">Historia</a></li>
                <li><a href="../templates/instalaciones.html">Infraestructura</a></li>
                <li><a href="../templates/postulaciones.html">Postulaciones</a></li>
                <li><a href="../templates/Galeria.html">Galería</a></li>
                <li><a href="../templates/localizacion.html">Ubicación</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>
