<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/LocaUst.css">
    <link rel="icon" type="image/png" href="../img/cam-png.png">
    <title>Ubicacion</title>
</head>
<body>
    <header>
        <a href="../index.html"><img src="../img/cam-png.png" style="width: 100px; height: 100px;" alt="logo"></a>
        <h2>Bienvenido a nuestra pagina escolar. <br>
            Colegio Alma Mater</h2>
        <a href="#" class="cta"><button>Contacto</button></a>
    </header>
    <div class="content">
            <ul>
                <li>
                    <div class="title">
                        <h2 style="color: black;">Ubicacion</h2>
                        <div class="mapa">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3324.862514801433!2d-70.62253162430464!3d-33.55694827334756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d0a7a3c20977%3A0x594b39202a189398!2sColegio%20Alma%20Mater!5e0!3m2!1ses!2scl!4v1720384477440!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </li>
    </div>
    
    <footer>
        <nav>
            <ul class="nav_links">
                <li><a href="../templates/historia.html">historia</a></li>
                <li><a href="../templates/instalaciones.html">infraestructura</a></li>
                <li><a href="../templates/postulaciones.html">postulaciones</a></li>
                <li><a href="../templates/Galeria.html">galeria</a></li>
                <li><a href="../templates/localizacion.html">ubicacion</a></li>
            </ul>
        </nav>
    </footer>
</body>

