<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>postulaciones</title>
    <link rel="stylesheet" href="../css/postulacionesStyle.css">
    <link rel="icon" type="image/png" href="../img/cam-png.png">

</head>
<header>
    <a href="../index.html"><img src="../img/cam-png.png" style="width: 100px; height: 100px;" alt="logo"></a>
    <h2>Postulaciones</h2>
    <a href="#" class="cta"><button>Contacto</button></a>
</header>
<body>
    <div class="content">

        <h1 class="logo">postulaciones <span>Colegio Alma Mater</span></h1>

        <div class="contact-wrapper animated bounceInUp">
            <div class="contact-form">
                <h3>datos estudiante</h3>
                <form action="">
                    <p>
                        <label>Nombres </label>
                        <input type="text" name="fullname" required>
                        <label>rut</label>
                        <input type="text" name="rut">
                        <label>Nacionalidad</label>
                        <input type="text" name="Nacionalidad" required>
                    </p>
                    <p>
                        <label>Apellido Paterno</label>
                        <input type="text" name="lastNameM" required>
                        <label>Apellido Materno</label>
                        <input type="text" name="rut" required>
                        <label>Fecha Nacimiento</label>
                        <input type="date" name="fechaNacimiento">
                    </p>
                    <p>
                        <label>sexo</label>
                        <select name="sexo">
                            <option value="Femenino">Femenino</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Prefiero no decir">Prefiero no decir</option>
                        </select>
                        <label>Direccion</label>
                        <input type="text" name="Direccion">
                        <label>Nivel a que postula</label>
                        <select name="grade">
                            <option value="pre-kinder">pre-kinder</option>
                            <option value="kinder">kinder</option>
                            <option value="basica">basica</option>
                            <option value="media">media</option>
                        </select>
                    </p>
                    <p>
                        <label>Comuna</label>
                        <input type="text" name="Comuna">
                        <label>Nro domicilio</label>
                        <input type="text" name="numDomicilio">
                        <label>Fecha de postulacion</label>
                        <input type="date" name="fechaPostulacion">
                        
                    </p>
                <h3>Datos apoderados</h3>
                    <p class="block">
                        <label>Nombres </label>
                        <input type="text" name="fullname" required>
                        <label>Apellido Paterno</label>
                        <input type="text" name="lastNameM" required>
                        <label>Apellido Materno</label>
                        <input type="text" name="rut" required>
                        <label>rut</label>
                        <input type="text" name="rut">
                    </p>
                    <p class="block">
                        <button>
                            Send
                        </button>
                    </p>
                </form>
            </div>
            <div class="contact-info">
                <h4>More Info</h4>
                <ul>
                    <li><a href="../templates/historia.html">historia</a></li>
                    <li><a href="../templates/instalaciones.html">infraestructura</a></li>
                    <li><a href="../templates/postulaciones.html">postulaciones</a></li>
                    <li><a href="../templates/Galeria.html">galeria</a></li>
                    <li><a href="../templates/localizacion.html">ubicacion</a></li>
                </ul>
                <p>Postula ya a tu hijo en nuestra maravillosa escuela!!</p>
                <p>almaMater.cl</p>
            </div>
        </div>

    </div>
    
</body>
</html>